<header>
  <owl-carousel-o [options]="opinionOptions" class="container-flex">
     <ng-template carouselSlide *ngFor="let person of clients">
        <div class="item">
           <img src="/assets/images/opinion/sliderBg.jpg" class="img-responsive">
           <div class="cover">
              <div class="container">
                 <div class="header-content">
                    <div class="line"></div>
                    <div class="row">
                       <div class="col-md-3">
                          <h2 class="m-2 text-center">{{ person.tozsamosc }}</h2>
                       </div>
                       <div class="col-md-9">
                          <h1>{{ person.temat }}</h1>
                          <h3 class="font-italic"><q>{{ person.opinia }}</q></h3>
                       </div>
                       <div class="stars rating-align" data-stars="1">
                          <svg height="40" width="40" class="star" data-rating="1">
                             <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
                          </svg>
                          <svg height="40" width="40" class="star" data-rating="2">
                             <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
                          </svg>
                          <svg height="40" width="40" class="star" data-rating="3">
                             <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
                          </svg>
                          <svg height="40" width="40" class="star" data-rating="4">
                             <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
                          </svg>
                          <svg height="40" width="40" class="star" data-rating="5">
                             <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
                          </svg>
                       </div>
                    </div>
                 </div>
              </div>
          </div>
        </div>
     </ng-template>
  </owl-carousel-o>
</header>

<div class="container">
  <div class="text-center">
      <h2 class="ornamentalHeading">Mamy opinie jednych z najbardziej znanych polskich kucharzy!</h2>
  </div>
  <div class="row">
      <div class="col-md-3 text-center"><img src="assets\images\opinion\magda.jpg" alt="img" class="img-responsive person-img">
        <h2 class="username">Magda Gessler</h2>
        <div class="stars" data-stars="1">
          <svg height="60" width="60" class="star" data-rating="1">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="2">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="3">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="4">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="5">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
        </div>
      </div>
      <div class="col-md-9 fs">
          <p>Restauracja przepiękna, w stylu rustykalnym, przytulna, klimatyczna. 
            Obsługa na najwyższym poziomie. Świeże i przepyszne dania pojawiały się na stołach a talerzyki po zjedzeniu znikały błyskawicznie - kelnerzy tak dyskretni i profesjonalni.
            Dania wyśmienite, pięknie podane, zaspokajające najbardziej wybredne gusta. Nigdzie nie jadłam tak dobrej wołowiny.
      </div>
  </div>
</div>

<div  class="container">
  <div class="text-center">
      <h2 class="ornamentalHeading"></h2>
  </div>
  <div class="row">
      <div class="col-md-3 text-center"><img src="assets\images\opinion\jakubiak.jpg" alt="img" class="img-responsive person-img">
        <h2 class="username">Tomasz Jakubiak</h2>
        <div class="stars" data-stars="1">
          <svg height="60" width="60" class="star" data-rating="1">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="2">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="3">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="4">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
          <svg height="60" width="60" class="star" data-rating="5">
            <polygon points="18,2, 6,43, 38,17, 0,17, 32,43, 20,6" />
          </svg>
        </div>
      </div>
      <div class="col-md-9 fs">
          <p>Każdy, kto chce otworzyć lokal, musi kochać gotować i jeść. Oddaje serce temu biznesowi. 
            To podstawowe czynniki, które mają ogromny wpływ na powodzenie projektu. Jelonek jest idealnym przykładem włożenia całych swoich serc
            w sukces restauracji. To, co zostało stworzone dzięki temu to prawdziwa poezja...
          
      </div>
  </div>
</div>
