<div id="header">
 <div class="container-fluid" id="test">
     
    <div class="row">
        <div class="col-md ">
            <div class="font">
            <h1 class="display-5 color" id='label'>Pączkowe Rewolucje</h1>
            <p >Zapraszamy wszystkich zainteresowanych na konkurs <b class="color">jedzenia</b> domowych <b class="color">pączków</b> na czas w czwartek <b class="color"> 11 lutego</b>.<br>
           Do wygrania  <b class="color">złota szpatuła!</b></p></div>
        </div>
        <div class="col-lg">
            <img  class="img-fluid png"   src="/assets/images/konkursy/donatan_blur.png"  alt="paczki" >
            <img  class="img-fluid"   src="/assets/images/konkursy/donatan1.png"  alt="paczki" >
        </div>
    </div>

     </div>
 </div>
