header{
    background-image: url("/assets/images/konkursy/drewno.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}



















