
  #header{
    background-image: url("/assets/images/konkursy/stol2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height:110vh;
  }
    
  #test{
    padding-top: 14vh;
    font-size: 3vh;
    padding-bottom: 5vh;
  }
 
  p{
    font-size:3vw;
    -webkit-text-stroke:2px black; 
  }
  .color{
    color:rgb(202 138 91);
  }
  .font{
  
    
    color:white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    
    padding-left:5vh ;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  #label{
    
    color:rgb(202 138 91);
    font-family: 'Dancing Script';
    font-size:6vw;
    font-weight: bold;
    padding-top: 10vh;
  }
  @media (max-width: 730px) and (max-width: 787.98px) { 
    .font{
      -webkit-text-stroke: 0px;
      padding-left:6vh ;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    p{
      font-size:5vw;
      -webkit-text-stroke:0px black; 
    }
    #label {
      font-size:7vw;
    }

   }
 
  