
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="front">Kontakt</p>
            </div>
        </div>
        <div class="row">
            <div class="col front1">
                <img  class="img-fluid " src="/assets/images/kontakt/ornament.png"  alt="ornament" >
            </div>
        </div>
        <div class="row">
            <div class="col front2">
                <button><i class="fas fa-arrow-down"></i></button>     
            </div>
        </div>
    </div>
</header>
<section  id="scroll" class="container" >
    <div  class="container-flex">
        <div  class="row">
            <div class="col-sm">
                <p class="dol">Restauracja Polska Jelonek</p>
                <p class="tekst">UL. KOMEŃSKIEGO 3/4</p>
                <p class="tekst">82-300 ELBLĄG</p>
                <p class="tekst">T 11 111 11 11</p>
                <p class="tekst">T 22 222 22 22</p>
                <p class="tekst">JELONEK@gmail.com</p>

            </div>
            <div class="col-sm">
                <p class="dol1">Godziny otwarcia:</p>
                <p class="tekst">PONIEDZIAŁEK/PIĄTEK: 12:00-18:30</p>
                <p class="tekst">SOBOTA/NIEDZIELA: 12:00-18:30</p>
                <p class="social"><i class="fab fa-facebook-square"></i><i class="fab fa-twitter-square"></i><i class="fab fa-google-plus-square"></i></p>
            </div>
            </div> 
            <div class="row">
                <div class="col-sm">
                    <p class="dol">Formularz kontaktowy</p>
                    <form>
                        <div class="form-group">
                            <label for="InputEmail">Imie</label>
                            <input class="form-control" type="text" placeholder="Tutaj wpisz imie" name="name">
                        </div>
                        <div class="form-group">
                        <label for="InputEmail">Adres E-mail</label>
                        <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Tutaj wpisz adres e-mail">
                        </div>
                        <div class="form-group">
                            <label for="InputSubject">Temat</label>
                            <input type="text" name="subject" class="form-control" id="InputSubject" placeholder="Tutaj wpisz adres temat">
                        </div>
                        <div class="form-group">
                            <label for="FormControlTextarea">Wiadomość</label>
                            <textarea name="message" placeholder="Tutaj wpisz swój komentarz" class="form-control" id="Comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="button">Wyślij</button>
                    </form>
                </div>
        </div>
    </div>
</section>
<section>
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=ul.kome%C5%84skiego,%20Elbl%C4%85g%20&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <br>
        </div>
    </div>
</section>
