
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="demo" class="front">
                    <div id="char1" class="char">K</div>
                    <div id="char2" class="char">o</div>
                    <div id="char3" class="char">n</div>
                    <div id="char4" class="char">t</div>
                    <div id="char5" class="char">a</div>
                    <div id="char6" class="char">k</div>
                    <div id="char7" class="char">t</div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col front1">
                <img class="img-fluid" src="/assets/images/kontakt/ornament.png" alt="ornament" >
            </div>
        </div>
    </div>
</header>
<section id="scroll" class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm" data-aos="fade-right">
                <p class="dol">Restauracja Polska Jelonek</p>
                <p class="tekst">UL. KOMEŃSKIEGO 3/4</p>
                <p class="tekst">82-300 ELBLĄG</p>
                <p class="tekst">T 11 111 11 11</p>
                <p class="tekst">T 22 222 22 22</p>
                <p class="tekst">JELONEK@gmail.com</p>
            </div>
            <div class="col-sm" data-aos="fade-left">
                <div class="row">
                    <div class="col-12">
                        <p class="dol">Godziny otwarcia:</p>
                    </div>
                    <div class="col-12">
                        <p class="tekst">PONIEDZIAŁEK/PIĄTEK: 10:00-18:00</p>
                    </div>
                    <div class="col-12">
                        <p class="tekst">SOBOTA/NIEDZIELA: 12:00-16:00</p>
                    </div>
                    <div class="col-12 text-center">
                        <i class="fab fa-facebook-square p-2"></i>
                        <i class="fab fa-twitter-square p-2"></i>
                        <i class="fab fa-google-plus-square p-2"></i>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row end" data-aos="fade-up">
            <div class="col-sm">
                <p class="dol anim1"><span>Formularz kontaktowy</span></p>
                <form method="post" [formGroup]="opinionForm" (ngSubmit) = "onClickSubmit(opinionForm.value)" (submit)="sendEmail($event)">
                    <div class="form-group">
                        <label for="InputName" class="anim1"><span>Imie i nazwisko</span></label>
                        <input class="form-control anim1" id="InputName" name="name" type="text" placeholder="Tutaj wpisz imie i nazwisko" formControlName="name" required>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail" class="anim1">Adres e-mail</label>
                        <input type="email" name="email" class="form-control anim1" id="InputEmail" aria-describedby="emailHelp" placeholder="Tutaj wpisz adres e-mail" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="InputSubject" class="anim1">Temat</label>
                        <input type="text" name="subject" class="form-control anim1" id="InputSubject" placeholder="Tutaj wpisz adres temat" formControlName="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="InputRate" class="anim1">Ocena</label>
                            <star-rating [value]="5" [totalstars]="5" checkedcolor="#ffd055" uncheckedcolor="black" size="50px" [readonly]="false" (rate)="onRate($event)"></star-rating>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea" class="anim1">Komentarz</label>
                        <textarea name="message" placeholder="Tutaj wpisz swój komentarz" class="form-control anim1" id="FormControlTextarea" rows="3" formControlName="message"></textarea>
                    </div>
                    <button type="submit" class="button anim1">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=ul.kome%C5%84skiego,%20Elbl%C4%85g%20&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <br>
        </div>
    </div>
</section>