nav{
    background-color: transparent;
    background: rgba(255, 255, 255, 0.02) !important;
    backdrop-filter: blur(10px);
    font-size: 1.5em;
    font-family: 'Parisienne';
    font-weight: 700;
}
nav a {
    color: #2a373b !important;
    text-decoration: none;
}
nav button{
    margin-right: 1em;
}
@media (min-width: 992px) {
    nav .order-1 .nav-item {
        margin-right: 1rem!important;
    }
    nav .order-3 .nav-item {
        margin-left: 1rem !important;
    }
    .linkEffect {
        transition: 0.4s ease;
        border-radius: 10px;
        color: #ffffff;
        border-bottom: 4px solid transparent;
        padding: 20px 0;
        margin: 0 20px;
      }
      .linkEffect:hover {
        border-bottom: 4px solid #2f5234;
        padding: 6px 0; 
      }
}
@media (max-width: 991.98px) and (min-width: 343px){
    #logoDiv{
        padding-left: calc(56px + 1em);
    }
}
@media (max-width: 342px) {
    #logoDiv{
        flex-basis: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    nav button{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
}

    