<header>
    <p class="front">Aktualności</p>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap" rel="stylesheet"> 
</header>

<section  class="container">
    <div class="text-center">
        <h2 class="ornamentalHeading">Obiad 13:00-16:00</h2>
    </div>
    <div class="row">
        <div class="col-md-3"><img src="assets\images\news\stekzjelenia.jpg" class="img-responsive" width="200" height="200"></div>
        <div class="col-md-9">
            <p>Witamy ponownie! Z kolejnym tygodniem czas na nowe wiadomości.
            Każdego dnia, od poniedziałku do piątku, posiadamy
            przygotowane menu obiadowe, na które składają się zupa,
            danie główne oraz kompot. Przy okazji gorąco zapraszamy do 
            zapoznania się z naszym nowym menu. Serdecznie zapraszamy!
            </p><a href="">Wiecej...</a>
        </div>
    </div>
</section>
<section  class="container">
    <div class="text-center">
        <h2 class="ornamentalHeading">Kraina muzyki</h2>
    </div>
    <div class="row">
        <div class="col-md-9"> 
        <p>W Jelonku każdego dnia, w wybranych godzinach wieczornych,
            gościmy muzyków, którzy sprawiają, że pobyt w restauracji
            nie tylko jest dobry dla żołądka, ale również i dla ucha.
            Zapewniamy między innymi dostęp do pianina, keyboardu, mikrofonów
            oraz gitary. Serdecznie zapraszamy w odwiedziny w jednocześnie
            miłej, jak i zarazem kulturalnej atmosferze. 
        </div>
        <div class="col-md-3"><img src="assets\images\news\piano.jpg" class="img-responsive" width="200" height="200"></div>

    </div>

</section>
<section class="container" >
    <div class="text-center">
        <h2 class="ornamentalHeading">Wynajem sali</h2>
    </div>
    <div class="row">
            <div class="col-md-3"><img src="assets\images\news\sala.jpg" class="img-responsive" width="200" height="200"></div>
        <div class="col-md-9">
            <p>Dziś, po tak długiej walce, nareszcie możemy powiedzieć to otwarcie -
            Nasi drodzy klienci! Teraz można u nas wynająć wyśmienitą salę, wraz z naszym wieloletnią
            i doświadczoną służbą.
            Wynajem sali będzie możliwy na takie okazje jak urodziny, wesela imieniny oraz
            inne, chociażby, biznesowe przyjęcia. Po więcej szczegółów nalezy skontaktować się
            z kierownikiem
            </p><a href="">Wiecej...</a>
            </div>
    </div>
</section>




