<div id="background">
    <img id="restaurant" src="assets\images\news\sala.png">
    <section class="bgcontent" >
        <div id="restaurant_bg">
            <img id="deer" src="assets\images\news\deer.png">
            
        </div>
        <section class="container">
        <div class="row">
            
            <h2><p class="lead">Obiad 13:00-16:00</p></h2>
            <hr class="my-2">
            <!-- <div class="img-left"><img class="thumbnail" src="assets\images\news\stekzdziczyzny.jpg" alt="" width="150" height="150"> -->
                <p>Każdego dnia, od poniedziałku do piątku, posiadamy
                przygotowane menu obiadowe, na które składają się zupa,
                danie główne oraz kompot. Serdecznie zapraszamy!
            </p><a href="">Wiecej...</a>
        </div>
    
    <hr>
    
        <div class="row">
            <p class="lead">Kraina muzyki</p>
            <hr class="my-2">
            <p>W Jelonku każdego dnia, w wybranych godzinach wieczornych,
                gościmy muzyków, którzy sprawiają, że pobyt w restauracji
                nie tylko jest dobry dla żołądka, ale również i dla ucha.
            </p>
            <a href="">Wiecej...</a>
        </div> 
    <hr>
        <div class="row">  
            <h2><p class="lead">Wynajem sali</p></h2>
            <hr class="my-2">
            <p>Dziś, po tak długiej walce, nareszcie możemy powiedzieć to otwarcie -
                Nasi drodzy klienci! Teraz można u nas wynająć wyśmienitą salę na różne okazje.
            </p>
            <a href="">Wiecej...</a>
        </div>
    </section>
    </section> 
</div>


