

<div id="header">
    <div class="buttons navbar-centered">
        
        <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="onas Historia"><b><</b></button>
        <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="onas Historia"><b>></b></button>

        
    </div>
    <div id="content" class ="d-flex p-flex">
        <div class="row">
            
              <div class="collapse multi-collapse" id="onas">
                <div class="card card-body">

                    <div class="row">
                        <div class="col-sm" style="font-size: 40px;">
                            <h1 class="display-3"><b>Pełen profesjonalizm</b></h1>
                            <img  class="img-fluid"  src="/assets/images/onas/test.png" style="width:500px ;"  alt="Placeholder" class="rounded">
                            
                            <p>  Wyjątkowy nastrój tworzą tu świeże kwiaty, stoły nakryte haftowanymi obrusami, delikatne światło i dyskretna muzyka płynąca z pianina.</p><p> Wyjątkowość tego miejsca uzupełnia magiczny ogród.<br> Słychać tu śpiew ptaków, szum wody z fontanny i dźwięki gitary.</p><p>Po zachodzie słońca, tę wyjątkową atmosferę, dopełnia widok płonących świeć i pochodni.</p>
                            <img  class="img-fluid"  src="/assets/images/onas/test.png" style="width:500px ;"  alt="Placeholder" class="rounded">
                        </div>

                        <div class="col-sm">
                            <img  class="img-fluid" style="width:700px;margin-bottom:50px;" src="/assets/images/onas/pic.jpg" alt="Placeholder" class="rounded" >
                            
                            <img  class="img-fluid" style="width:320px;margin-right:60px;" src="/assets/images/onas/zdj2.jpg" alt="Placeholder" class="rounded">
                            <img  class="img-fluid" style="width:320px;" src="/assets/images/onas/zdj3.jpg" alt="Placeholder" class="rounded">
                            
                        </div>
                    </div>

                 </div>
              </div>
              <div class="row">
                <div class="collapse multi-collapse show" id="Historia">
                  <div class="card card-body">
                    <div class="row">
                        <div class="col-sm" style="font-size: 40px;">
                            <h1 class="display-3"><b>Załoga</b></h1>
                            <img  class="img-fluid"  src="/assets/images/onas/test.png" style="width:500px ;"  alt="Placeholder" class="rounded">
                            <p>Pod okiem Szefa, kucharze nieustannie podnoszą swoje kwalifikacje. Ich wieloletnie doświadczenie oraz bardzo dobra znajomość sztuki kulinarnej gwarantuje wyjątkowy i co ważne powtarzalny smak potraw.</p>
            
                            <p> Klienci nie mają jednak styczności z kuchnią, a ich łącznikiem pozostaje kelner. Nasza załoga to sprawdzeni fachowcy, bardzo dobrze znający języki, orientujący się świetnie w Menu, a także potrafiący doradzić w kwestii wyboru dodatków do potraw jak również wina i innych alkoholi.</p>
                            <img  class="img-fluid"  src="/assets/images/onas/test.png" style="width:500px ;"  alt="Placeholder" class="rounded">
                        </div>

                        <div class="col-sm">
                            <img  class="img-fluid" style="width:700px;margin-bottom:50px;" src="/assets/images/onas/chef.jpg" alt="Placeholder" class="rounded" >
                            
                            
                            <img  class="img-fluid" style="width:700px;margin-bottom:50px;" src="/assets/images/onas/working.png" alt="Placeholder" class="rounded" >
                            
                        </div>
                    </div>
                 </div>
                </div>
                
              </div>
            </div>
           
          </div>
    </div>

