<div class="buttons navbar-centered animation" id="przycisk">
    <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="false" aria-controls="onas Historia"><b>▲</b></button>
    <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="true" aria-controls="onas Historia"><b>▼</b></button>
 </div>
 <div id="header">
    <div class="container animation" id="test" >
       <div class="row opacity">
          <div class="col-md collapse multi-collapse2 text-center " id="onas">
             <h1 class="display-3"><b>Bajka</b></h1>
             <img  class="img-fluid "  src="/assets/images/onas/ornament.png"  alt="ornament" >
             <p>Wyjątkowy nastrój tworzą tu świeże kwiaty, stoły nakryte haftowanymi obrusami, delikatne światło i dyskretna muzyka płynąca z pianina.</p>
             <p> Wyjątkowość tego miejsca uzupełnia magiczny ogród.<br> Słychać tu śpiew ptaków, szum wody z fontanny i dźwięki gitary.</p>
             <p>Po zachodzie słońca, tę wyjątkową atmosferę, dopełnia widok płonących świeć i pochodni.</p>
             <img  class="img-fluid"   src="/assets/images/onas/ornament.png"  alt="ornament" >
          </div>
          <div class="col-md collapse multi-collapse2" id="tabela">
             <img  class="img-fluid rounded pic"  src="/assets/images/onas/kanapka.jpg" alt="kanapka"  >
             <div class="row">
                <div class="col-sm-6">
                   <img  class="img-fluid rounded pic"  src="/assets/images/onas/kanapka2.jpg" alt="kanapka2" >
                </div>
                <div class="col-sm-6">
                   <img  class="img-fluid rounded pic"  src="/assets/images/onas/miska.jpg" alt="miska" >
                </div>
             </div>
          </div>
       </div>
       <div class="row opacity">
          <div class="col-md collapse multi-collapse2 text-center show " id="onas">
             <h1 class="display-3"><b>Załoga</b></h1>
             <img  class="img-fluid"  src="/assets/images/onas/ornament.png"  alt="ornament" >
             <p>Pod okiem Szefa, kucharze nieustannie podnoszą swoje kwalifikacje. Ich wieloletnie doświadczenie oraz bardzo dobra znajomość sztuki kulinarnej gwarantuje wyjątkowy i co ważne powtarzalny smak potraw.</p>
             <p> Klienci nie mają jednak styczności z kuchnią, a ich łącznikiem pozostaje kelner. Nasza załoga to sprawdzeni fachowcy, bardzo dobrze znający języki, orientujący się świetnie w Menu, a także potrafiący doradzić w kwestii wyboru dodatków do potraw jak również wina i innych alkoholi.</p>
             <img  class="img-fluid"   src="/assets/images/onas/ornament.png"  alt="ornament" >
          </div>
          <div class="col-md collapse multi-collapse2 show " id="tabela">
             <img  class="img-fluid rounded pic"  src="/assets/images/onas/chef.jpg" alt="chef" >
             <img  class="img-fluid rounded"  src="/assets/images/onas/working.png" alt="workers" >
          </div>
       </div>
    </div>
 </div>
 <div id="stop" ></div>