#bg{
    background-image: url("/assets/img/backgroundOnas.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
main{
    color:white;
}
img {
    padding-top: 30px;
    padding-right: 30px;
    border-image: 30 round;
}
p{
    font-size: 20px;
}
h1,h2{
    color:#DAA520;
}
.contentDiv{
    margin-left:50px ;
    width:75%;
}