
<div class="buttons navbar-centered">
        
    <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="false" aria-controls="onas Historia"><b>▲</b></button>
    <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target=".multi-collapse2" aria-expanded="true" aria-controls="onas Historia"><b>▼</b></button>

    
</div>
<div id="header">
    
    <div class="container" id="test" >

                <div class="row opacity">
                  <div class="col collapse multi-collapse2 text-center show" id="onas"> <!--text 1  -->
                    <h1 class="display-3"><b>Bajka</b></h1>
                    <img  class="img-fluid "  src="/assets/images/onas/test.png"  alt="Placeholder" >
                        <p>Wyjątkowy nastrój tworzą tu świeże kwiaty, stoły nakryte haftowanymi obrusami, delikatne światło i dyskretna muzyka płynąca z pianina.</p><p> Wyjątkowość tego miejsca uzupełnia magiczny ogród.<br> Słychać tu śpiew ptaków, szum wody z fontanny i dźwięki gitary.</p><p>Po zachodzie słońca, tę wyjątkową atmosferę, dopełnia widok płonących świeć i pochodni.</p>
                        <img  class="img-fluid"   src="/assets/images/onas/test.png"  alt="Placeholder" >
                    </div>
                  <div class="col collapse multi-collapse2 show" id="tabela"><!--zdjecia 1  -->
                    <img  class="img-fluid rounded pic"  src="/assets/images/onas/pic.jpg" alt="Placeholder"  >
                    <div class="row">
                        <div class="col-sm-6">
                            <img  class="img-fluid rounded pic  "  src="/assets/images/onas/zdj2.jpg" alt="Placeholder" >
                        </div>
                        <div class="col-sm-6">
                            <img  class="img-fluid rounded pic"  src="/assets/images/onas/zdj3.jpg" alt="Placeholder" >
                        </div>

                  
                    </div>
                        </div>

                </div>

                <div class="row opacity">
                    <div class="col collapse multi-collapse2 text-center " id="onas"> <!--text 2  -->
                        <h1 class="display-3"><b>Załoga</b></h1>
                      <img  class="img-fluid"  src="/assets/images/onas/test.png"  alt="Placeholder" >
                      <p>Pod okiem Szefa, kucharze nieustannie podnoszą swoje kwalifikacje. Ich wieloletnie doświadczenie oraz bardzo dobra znajomość sztuki kulinarnej gwarantuje wyjątkowy i co ważne powtarzalny smak potraw.</p>
            
                      <p> Klienci nie mają jednak styczności z kuchnią, a ich łącznikiem pozostaje kelner. Nasza załoga to sprawdzeni fachowcy, bardzo dobrze znający języki, orientujący się świetnie w Menu, a także potrafiący doradzić w kwestii wyboru dodatków do potraw jak również wina i innych alkoholi.</p>
                      <img  class="img-fluid"   src="/assets/images/onas/test.png"  alt="Placeholder" >
                      </div>
                    <div class="col collapse multi-collapse2 " id="tabela"><!--zdjecia 2  -->
                      
                        <img  class="img-fluid rounded pic"  src="/assets/images/onas/chef.jpg" alt="Placeholder" >
                        <img  class="img-fluid rounded"  src="/assets/images/onas/working.png" alt="Placeholder" >
                          </div>
  
                  </div>

               
                  
              </div>
              
           
          </div>
    

