
<!-- <div id="cooking" class="">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div id="area">
            <div id="sides">
                <div id="pan"></div>
                <div id="handle"></div>
            </div>
            <div id="pancake">
                <div id="pastry"></div>
            </div>
        </div>
</div>
<div id="loader-wrap" class="loader-wrap">
    <div id="loader-wrap" class="bar"></div>
    <div id="loader-wrap" class="text">loading</div>
</div>   -->

<header id="myHeader" class="animation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8 col-md-6 col-lg-4">
                <h1>Zagłęb się w kuchnię polską i odkryj niespotykane dotąd doznania smakowe</h1>
            </div>
            <div class="col-3 col-md-5 col-lg-7"></div>
        </div>
    </div>
</header>
<section id="specialDish" class="container-fluid" >
    <div class="text-center">
        <h2 class=ornamentalHeading data-aos="fade-down">Danie dnia</h2>
    </div>
    <div class="row no-gutters">
        <div class="col-0 col-md-1"></div>
        <div class="col-12 col-md-4 dishPicture">
            <img *ngIf="dishOfTheDay" class="rounded" src="{{dishOfTheDay.img}}" alt="{{dishOfTheDay.nazwa}}">
        </div>
        <div class="col-12 col-md-6 dishText">
            <div *ngIf="dishOfTheDay">
                <h1 class="dishName text-center">{{ dishOfTheDay.nazwa }}</h1>
            </div>
            <div class="dishDescription text-center" *ngIf="dishOfTheDay">{{ dishOfTheDay.opis }}</div>
        </div>
    </div>
</section>
<section id="discoverUs" class="container-fluid "> 
    <div class="btn" data-aos="fade-down">Znajdź nas!</div>
</section>
<section id="menuCategories" class="container-fluid " >
    <div class="text-center">
        <h2 class=ornamentalHeading data-aos="fade-down">Kategorie</h2>
    </div>
    <div class="row">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let category of categories | filterUnique">
                <div class="slide" data-aos="fade-left">
                    <div class="item">
                        <div class="container">
                            <div class="row carouselDiv">
                                <div class="d-none d-lg-block col-lg-3 catImg" [ngStyle]="{ 'background-image': 'url(' + category.catimg + ')'}">
                                    <div class="catText text-center">{{ category.kategoria }}</div>
                                </div>
                                <div class="col-12 col-lg-9 catDishList">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 item" *ngFor="let dish of filterByCategory(category.idkategoria);  let i=index">
                                                <div *ngIf="i<4">
                                                    <div class="itemImage">
                                                        <img class="img-fluid rounded" src="{{dish.img}}">
                                                    </div>
                                                    <div class="itemInfo">
                                                        <div class="name text-center">{{ dish.nazwa }}<div class="price">{{ dish.cena }} zł</div></div>
                                                        <div class="description text-center">{{ dish.opis }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
