header{
    background-image: url("/assets/images/index/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}
#menuCategories{
    background-color: #2a373b;
    height: 300px;
}