<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8 col-md-6 col-lg-4">
                <h1>Zagłęb się w kuchnię polską i odkryj niespotykane dotąd doznania smakowe</h1>
            </div>
            <div class="col-3 col-md-5 col-lg-7"></div>
        </div>
    </div>
</header>
<section id="specialDish" class="container-fluid">
    <div class="text-center">
        <h2 class=ornamentalHeading>Danie dnia</h2>
    </div>
</section>
<section id="discoverUs" class="container-fluid">
    
</section>
<section id="menuCategories" class="container-fluid">
    <div class="text-center">
        <h2 class=ornamentalHeading>Kategorie</h2>
    </div>
</section>
