@font-face {
    font-family: "Parisienne";
    src: url("/assets/fonts/Parisienne/Parisienne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Great Vibes";
    src: url("/assets/fonts/GreatVibes/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Dancing Script";
    src: url("/assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf") format("truetype");
}
body{
    color: black;
}
a{
    text-decoration: none;
}